.signUp{
  text-align: center;
  font-size: 40px;
  text-shadow: 10px 5px 9px #14181b;
}

.newSignUpForm{
  height: 700px;
}

.signUpForm{
  align-items: center;
  height: 900px;
  width:800px;
  display: grid;
  justify-content: center;
  background-color: rgb(114, 128, 143);
  border-radius: 10px;
  gap: 10px ;
  font-family:'Courier New', Courier, monospace;
  box-shadow: 5px 5px 10px #485460;
}

.signUpForm label{
  font-size: 20px;
}

.signUpForm input{
  height: 50px;
  width: 700px;
  font-size: 20px;
  background: transparent;
  box-shadow: inset 1px 2px 10px white;
  color: black;
}
.alreadyHaveAnAccount{
  display: grid;
  justify-content: center;
}

select{
  width: 120px;
  height: 30px;
}

.alreadyHaveAnAccount p{
  align-items: center;
  gap: 10px;
  display: flex;
  font-size: 1rem;
}

.alreadyHaveAnAccount button{
  width: 300px;
  height: 50px;
  color: white;
  background-color: #255e9e;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px #485460;
  justify-content: center;
  align-items: center;
}
.linkToLogin{
  font-size: rem;
  color: #255e9e;
}


@media (max-width: 375px) {
  body {
    padding: 20px;
    height: 600px; 
  }

  .newSignUpForm{
    margin-top: -20px;
  }
  .signUpForm {
    width: 320px;  
    height: 700px; 
    padding: 15px;
    margin-bottom: 20px;
  }

  .signUp {
    font-size: 30px;
  }

  .signUpForm input {
    width: 100%;
    font-size: 16px; 
    height: 40px;
    box-shadow: inset 1px 2px 10px rgb(65, 64, 64);
    color: black;
  }

  .alreadyHaveAnAccount button {
    height: 45px; 
  }

  .alreadyHaveAnAccount p {
    font-size: 1rem; 
  }

  .linkToLogin {
    font-size: 1rem; 
    color: black;
  }

  select {
    width: 100%; 
    height: 35px; 
  }
}

/* iPhone 12 Pro Max (portrait mode) */
@media (max-width: 430px) {
  body {
    padding: 20px;
    height: 900px; 
  }
  .signUpForm {
    width: 420px;  
    height: 920px;
    padding: 15px;
  }
  .signUp {
    font-size: 32px; 
  }
  .newSignUpForm{
    margin-bottom: 100px;
  }
  .signUpForm input {
    color: black;
    width: 370px; 
    font-size: 19px;
    height: 45px;
    box-shadow: inset 1px 2px 10px rgb(65, 64, 64);
  }
  .alreadyHaveAnAccount button {
    width: 100%; 
    height: 50px; 
    border: groove;
  }

  .alreadyHaveAnAccount p {
    font-size: 1.2rem; 
  }

  .linkToLogin {
    font-size: 1rem; 
    color: black;
  }
  select {
    width: 100%;
    height: 35px; 
  }
}